.E_HUmlU2Hj3PpkDmWzKPd {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

._1uGgxPevAMKKb3bcbywvYM, ._2T7zm74WKZDmiD-oCZsgvO, ._18iNctTW6J8rA_VGHXRh97, ._1Fp4n95xHzHGadllxvjcTQ, ._1EfF9tG5AJZzXSH2NwNdqW, ._1I7JWDwkkg4u9MTIywqdXp, ._3ZRvISxL_rnBaMK4zrS3OH, ._14_Shfzx8c0YeZMIJh7vRc, ._2TLcUvcjl7MX85BGSYb9nt, .u7yDw-uY19TGeU5_DJo_E, ._2ezsY4jHMeDW9z2VqTJeYE, ._2k5c8zEhMT-84kRD4oDgAz, ._2xEIN7odJInNbP9H74G7EX,
._2aFvO7WtOddSVpZkGpulND, ._3FwkORxGV1i79IVkARX55Q, ._3a8uyimjcvoJpilnkSgoEg, .GdFlo_ZSUYm420nCKEz7l, ._2t9xwJXTlYaRrm2c94rsxx, ._1W9DSKcMryfVnPNF7WWm-_, ._3OvbZ2PHBDqHPsXCGBrf6Z, ._1cc_g89Cb7O77DnUIY9yUL, ._2V91lSGlm2nOL1C5r0xzQ1, ._1Y98MhUGlKBNmLqMkcfBKv, ._28pIBAfQrsCEJ9o6G25fnj, ._1ZHUd5FCv6vJhcHlO6OUHD, ._3i-aP7VcBzgMPyKu7eRI4s, ._3a2jAct2SwtL_3DmKTqny_,
._1eQm8q_-ycI-g2ghyq6LZ5, ._3JydMQoB46SIgfzGVpJ00f, ._1Zcqy4uuze8MVjVqHQKKMO, .zcLX0olDTtYQdNV7ZvAP, ._1fpqArXPCxgnlv2rXZC2sl, ._3X3KO1gO88w702sIbj1Shp, ._3YBvMs82CMJ-uNoH7JwwWl, ._1MN0C6SWymwJwIGWPAP1A2, ._2v1j-tLx3hx0tgKcpPzH6B, ._1pGcpJ5HafXatoLq8DevpB, .vd_Z1YCTE-qBmgOuLUlaU, ._2TYbaOHgmoRzREfQskzQKq, ._2V2Jmn_0kBlOqR5frjiYFn, ._3OBRAfZYXuD6twq-wwgLxl,
.apx_rmstHOcg9dR7vQZdL, ._94UwD0ZRW4mrbW2R8JVQo, ._1QGj87dn1MEuB6Fi6FoW9I, ._1SoDWGr_FVsil9klRfjnhb, ._2soIXMtH2rHWcit2VSA7cP, .E04wZ6kIK2N9iT7-EHVpH, ._2i3JWBaJrjrWOuWLjC_TyX, ._2UgHpg4Wx_7_S2ioMdWEGc, .MyPIIeLttZ0RGAVI1vj-u, ._3wm8FgzqRuRWouJG31YgKx, ._1IgBDS1hz5rtMn03pU8bYI, ._3JE-eNudaPFhhr7PhUyYfl, ._1n9Ru4pJaXo0ImhhQA8n_l, ._25vbKofh2RJ5KdiREf5-hF,
.CnFBZ03FlQ5h38UiLP0OI, ._19nMFPRrE_mXgs7Qevdaqz, ._1bkeEvloUFtZyF9CMB1F7A, ._1M3cDgvJ1KkbDoriGEBBVG, .vD_qwVXhUMrMX7UZbO6dd, ._1oh8RpoH0DMfdj_PbiAVFZ, ._1aHH1jk98dviP9z_GP4q-b, ._3Wku_IeFCAfwQma5hSwMRq, ._1O9Tuq1V-njygTyq5AqRn6, ._3UAtqDKromCMorF52yGm8Z, ._3vLra-u3tpyXmTlkcqSUtu, ._16SXg3xagNuEZDFp7TCkQ0, .qMlBVffmPp_SRijpgihDE, .-fm53IJwP1vAiauXjgInF,
._31e-qsERVjn4slCRJ1dpwg {
  position: relative;
  width: 100%;
}

._2xEIN7odJInNbP9H74G7EX {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
  
._2aFvO7WtOddSVpZkGpulND {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
  
._1uGgxPevAMKKb3bcbywvYM {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

._2T7zm74WKZDmiD-oCZsgvO {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

._18iNctTW6J8rA_VGHXRh97 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

._1Fp4n95xHzHGadllxvjcTQ {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

._1EfF9tG5AJZzXSH2NwNdqW {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

._1I7JWDwkkg4u9MTIywqdXp {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

._3ZRvISxL_rnBaMK4zrS3OH {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

._14_Shfzx8c0YeZMIJh7vRc {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

._2TLcUvcjl7MX85BGSYb9nt {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.u7yDw-uY19TGeU5_DJo_E {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

._2ezsY4jHMeDW9z2VqTJeYE {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

._2k5c8zEhMT-84kRD4oDgAz {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  ._3a2jAct2SwtL_3DmKTqny_ {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  ._1eQm8q_-ycI-g2ghyq6LZ5 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  ._3FwkORxGV1i79IVkARX55Q {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  ._3a8uyimjcvoJpilnkSgoEg {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .GdFlo_ZSUYm420nCKEz7l {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  ._2t9xwJXTlYaRrm2c94rsxx {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  ._1W9DSKcMryfVnPNF7WWm-_ {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  ._3OvbZ2PHBDqHPsXCGBrf6Z {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  ._1cc_g89Cb7O77DnUIY9yUL {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  ._2V91lSGlm2nOL1C5r0xzQ1 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  ._1Y98MhUGlKBNmLqMkcfBKv {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  ._28pIBAfQrsCEJ9o6G25fnj {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  ._1ZHUd5FCv6vJhcHlO6OUHD {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  ._3i-aP7VcBzgMPyKu7eRI4s {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  ._3OBRAfZYXuD6twq-wwgLxl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .apx_rmstHOcg9dR7vQZdL {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  ._3JydMQoB46SIgfzGVpJ00f {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  ._1Zcqy4uuze8MVjVqHQKKMO {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .zcLX0olDTtYQdNV7ZvAP {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  ._1fpqArXPCxgnlv2rXZC2sl {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  ._3X3KO1gO88w702sIbj1Shp {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  ._3YBvMs82CMJ-uNoH7JwwWl {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  ._1MN0C6SWymwJwIGWPAP1A2 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  ._2v1j-tLx3hx0tgKcpPzH6B {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  ._1pGcpJ5HafXatoLq8DevpB {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .vd_Z1YCTE-qBmgOuLUlaU {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  ._2TYbaOHgmoRzREfQskzQKq {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  ._2V2Jmn_0kBlOqR5frjiYFn {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  ._25vbKofh2RJ5KdiREf5-hF {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .CnFBZ03FlQ5h38UiLP0OI {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  ._94UwD0ZRW4mrbW2R8JVQo {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  ._1QGj87dn1MEuB6Fi6FoW9I {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  ._1SoDWGr_FVsil9klRfjnhb {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  ._2soIXMtH2rHWcit2VSA7cP {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .E04wZ6kIK2N9iT7-EHVpH {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  ._2i3JWBaJrjrWOuWLjC_TyX {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  ._2UgHpg4Wx_7_S2ioMdWEGc {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .MyPIIeLttZ0RGAVI1vj-u {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  ._3wm8FgzqRuRWouJG31YgKx {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  ._1IgBDS1hz5rtMn03pU8bYI {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  ._3JE-eNudaPFhhr7PhUyYfl {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  ._1n9Ru4pJaXo0ImhhQA8n_l {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .-fm53IJwP1vAiauXjgInF {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  ._31e-qsERVjn4slCRJ1dpwg {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  ._19nMFPRrE_mXgs7Qevdaqz {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  ._1bkeEvloUFtZyF9CMB1F7A {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  ._1M3cDgvJ1KkbDoriGEBBVG {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .vD_qwVXhUMrMX7UZbO6dd {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  ._1oh8RpoH0DMfdj_PbiAVFZ {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  ._1aHH1jk98dviP9z_GP4q-b {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  ._3Wku_IeFCAfwQma5hSwMRq {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  ._1O9Tuq1V-njygTyq5AqRn6 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  ._3UAtqDKromCMorF52yGm8Z {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  ._3vLra-u3tpyXmTlkcqSUtu {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  ._16SXg3xagNuEZDFp7TCkQ0 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .qMlBVffmPp_SRijpgihDE {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

._1dOuVNjipqlGTpblw7zcwA {
  max-width: 1440px;
  padding: 20px;
  margin: auto;
}
.DADtd11SJ4KyWZ2l6zAnr {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

._2xO1EVtX5NUMURVWigBkD-, ._2wuKsvYEqmyMl1rrkwqQqt, .SLVmDIxGfyevVoEcafv6b, ._2YQL-DT4tA1J6Lc12C7XfG, ._3wx7NV_RsqqTyW8FNRFpfH, ._2v8Et5xuO_wqH9M9zCCBqY, ._29xRmTtgjiu4EZwMK1fjHC, ._2ka05IWNL_BNs-8mQonqmW, ._2Dj0N-M6sXpLhbT7cU-A4M, ._3Cu4kMr-la6RjgHpwZGTLz, ._3vZgBJ-jqwH7aWCj42V2KM, ._1ZrXcsbATVL_kHOpFAan9k, ._29f0dNxp2IiRciwpqbFz_E,
._7qa9Nttx602j11P9hqFtw, ._2j716b7dFRlLurOjRBY21y, ._30RApG-DpqNnnYoSMiOWED, .Kx5OuTjvBEQx8oXTYVL7K, ._2sMNioC-quNutQ6G7Jj6G0, ._3sSUYNn5N4D0uTlcblweTC, .zlno24cLg1OI76Hd7IeLP, ._3NgySEI0oQqX64nBx5W8PO, .uwIJBYP83KuEIpfdRfv0c, ._8tBN5mZjUmIIK84DiSy7O, ._3fvZXQqXnQhBGlA8r6Dqw4, ._2xAk_089X8oXPAq7TKNVP9, ._12PlIfNp17DDzjB7KBWo51, .PFH8etIApRTq-ijNxsUo2,
._22a2oM6jzwKNmCv5qDD_gb, ._1RqrcVplOjpH5TVMayhHzb, .G8fQ0OVQh1aHZnYXJBEb6, .XKeBWm7Nunf1pI_Yx62qX, ._1kEgVPtKPdxtW2R95GUA3i, ._1Z6Nx-DTRiTPvD1H-K6boo, ._20elB54CuQO4Xte8abN0-9, ._1oaM0phcwAAmqvCP6w-kiT, ._3jdGVoCjDoawYijCEIq9tz, ._2ukuqUiXDvtL8H1ihocB_-, ._3wwBnZ5mtF39D5RU1GOzIA, .gD2e8CCaGeLICCA_Yq49o, ._2bcQwyG0Z14vku5XMp6te4, ._20Q68r_VoYI92Jud-CAQ35,
.u2wWNqXEHjcHAdToYAnRm {
  position: relative;
  width: 100%;
}

._29f0dNxp2IiRciwpqbFz_E {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
  
._7qa9Nttx602j11P9hqFtw {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
  
._2xO1EVtX5NUMURVWigBkD- {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

._2wuKsvYEqmyMl1rrkwqQqt {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.SLVmDIxGfyevVoEcafv6b {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

._2YQL-DT4tA1J6Lc12C7XfG {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

._3wx7NV_RsqqTyW8FNRFpfH {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

._2v8Et5xuO_wqH9M9zCCBqY {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

._29xRmTtgjiu4EZwMK1fjHC {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

._2ka05IWNL_BNs-8mQonqmW {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

._2Dj0N-M6sXpLhbT7cU-A4M {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

._3Cu4kMr-la6RjgHpwZGTLz {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

._3vZgBJ-jqwH7aWCj42V2KM {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

._1ZrXcsbATVL_kHOpFAan9k {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .PFH8etIApRTq-ijNxsUo2 {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  ._22a2oM6jzwKNmCv5qDD_gb {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  ._2j716b7dFRlLurOjRBY21y {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  ._30RApG-DpqNnnYoSMiOWED {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .Kx5OuTjvBEQx8oXTYVL7K {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  ._2sMNioC-quNutQ6G7Jj6G0 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  ._3sSUYNn5N4D0uTlcblweTC {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .zlno24cLg1OI76Hd7IeLP {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  ._3NgySEI0oQqX64nBx5W8PO {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .uwIJBYP83KuEIpfdRfv0c {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  ._8tBN5mZjUmIIK84DiSy7O {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  ._3fvZXQqXnQhBGlA8r6Dqw4 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  ._2xAk_089X8oXPAq7TKNVP9 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  ._12PlIfNp17DDzjB7KBWo51 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  ._20Q68r_VoYI92Jud-CAQ35 {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .u2wWNqXEHjcHAdToYAnRm {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  ._1RqrcVplOjpH5TVMayhHzb {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .G8fQ0OVQh1aHZnYXJBEb6 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .XKeBWm7Nunf1pI_Yx62qX {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  ._1kEgVPtKPdxtW2R95GUA3i {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  ._1Z6Nx-DTRiTPvD1H-K6boo {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  ._20elB54CuQO4Xte8abN0-9 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  ._1oaM0phcwAAmqvCP6w-kiT {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  ._3jdGVoCjDoawYijCEIq9tz {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  ._2ukuqUiXDvtL8H1ihocB_- {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  ._3wwBnZ5mtF39D5RU1GOzIA {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .gD2e8CCaGeLICCA_Yq49o {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  ._2bcQwyG0Z14vku5XMp6te4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.G_Wf6_SSoj0CEPfvxKhQN {
  max-width: 1440px;
  padding: 20px;
  margin: auto;
}
